header {
    background-color: #044c8c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 3rem;
    }
  }
  .options{
    background-color:orange;
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 0.3rem;
  }
  .options button {
    transition: background-color 0.3s, color 0.3s;
   
    &:hover {
      background-color:$primary;
      color: white;
    }
  }

  .header-text {
    color: white;
    flex-grow: 1;
    text-align: center;
    font-size: 1.2rem;
  }
  .header-tital {
    color: white;
    flex-grow: 1;
    text-align: center;
    font-size: 1rem;
  }