.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #015495;
  color: white;
  padding: 20px;
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
  mix-blend-mode: darken;
  margin-top: 1rem;
}
.errorcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.success-container {
  color: green;
  font-size: 20px;
}

.error-message {
  color: red;
  font-size: 20px;
}

.login-page-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  h1 {
    font-size: 2rem;
    font-weight: 800;

    span {
      font-size: 2rem;
      font-weight: 800;
      color: $primary;
    }
  }
  h2 {
    margin: 0.5rem 0 1.5rem;
  }

  .login-form-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;

    h2 {
      text-align: center;
      line-height: 125%;
    }

    div {
      width: 100%;
      margin: 0 1rem;
    }

    button {
      font-weight: 600;
    }
  }

  .request-resend {
    span {
      font-weight: 400;
    }
  }
}

.btn {
  margin-left: auto;
}


.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}


.card-body {
  padding: 45px;
  background-color: #ffffff;

}

.label {
  font-weight: black;
  font-size: 4rem;
  white-space: nowrap;
}

.col-md-6 {
  padding: 0 15px;
}

.mt-4 {
  margin-top: 24px;
}

.row {
  display: flex;
  align-items: center;
}

.label {
  color: #555;
}

.col-md-8 {
  text-align: right;
  font-size: 2.2em;
  color: #333;
}
.lablefont {
  text-align: left;
  font-size: 1.5em;
  color: #333;
  white-space: nowrap;
}
.UploaDFilemargin{
  margin-top: 6%;
}

