.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #015495;
  color: white;
  padding: 20px;
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
  mix-blend-mode: darken;
  margin-top: 1rem;
}
.errorcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.success-container {
  color: green;
  font-size: 24px;
}

.error-message {
  color: red;
  font-size: 24px;
}
